<div class="main">
  <div class="">
    <div class="container animate">
      <div class="">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
          <h3 class="mb-2 mb-sm-0 pt-1">
            <a [routerLink]="['/dashboard']">Quay lại</a>
            <span> / </span>
            <span>Nạp tài khoản chính</span>
          </h3>
        </div>
      </div>
      <div class="" uk-grid="">
        <div class="">
          <form>
            <div class="form-group">
              <label class="">Loại thẻ</label>
              <div class="col-sm-10">
                <div class="">
                  <label
                    class=""
                    [ngStyle]="{
                      'background-color':
                        tkcTransferModel.typeCard == 1 ? 'red' : '#fff'
                    }"
                  >
                    <img src="../../../assets/images/vt.png" />
                    <span
                      class=""
                      bind="tyLeMuaThe_vt"
                      bind2="theVT"
                      *ngIf="rateTkc.enableVt === 0"
                    ></span>
                    <span class="">Bảo trì</span>
                  </label>
                  <label
                    class=""
                    data-v="mb"
                    [ngStyle]="{
                      'background-color':
                        tkcTransferModel.typeCard == 2 ? 'red' : '#fff'
                    }"
                  >
                    <img src="../../../assets/images/mb.png" />
                    <span
                      class=""
                      bind="tyLeMuaThe_mb"
                      bind2="theMB"
                      *ngIf="rateTkc.enableMb === 0"
                    ></span>
                    <span class="">Bảo trì</span>
                  </label>
                  <label
                    class=""
                    data-v="vn"
                    [ngStyle]="{
                      'background-color':
                        tkcTransferModel.typeCard == 3 ? 'red' : '#fff'
                    }"
                  >
                    <img src="../../../assets/images/vn.png" />
                    <span class="" *ngIf="rateTkc.enableVn === 0"></span>
                    <span class="">Bảo trì</span>
                  </label>
                </div>
                <select class="" fname="cardType" id="cmbCardType">
                  <option selected="selected" disabled="disabled"
                    >Chọn loại thẻ...</option
                  >
                  <option value="vt">Viettel</option>
                  <option value="mb">Mobifone</option>
                  <option value="vn">Vinaphone</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="cmbMenhGia" class="">Số tiền</label>
              <div uk-grid="" class="">
                <div class="">
                  <input
                    type="number"
                    class=""
                    id="cmbMenhGia"
                    placeholder="Số tiền nạp"
                    name="amount"
                  />
                </div>
                <div class="">
                  <input
                    type="text"
                    class=""
                    readonly="readonly"
                    name="realMoney"
                    placeholder="Số tiền cần để mua"
                  />
                </div>
              </div>
            </div>
            <div class="form-group ">
              <label for="inputPassword3 " class="">Số ĐT</label>
              <div class="col-sm-10 ">
                <input
                  type="text "
                  class=""
                  fname="phoneNum"
                  name="phone"
                  placeholder="Số điện thoại sẽ nạp tiền "
                />
              </div>
            </div>

            <div class="form-group">
              <label class=""></label>
              <div class="col-sm-10 ">
                <button type="button" class="">Thực hiện</button>
              </div>
            </div>
          </form>
        </div>
        <div class="">
          <div uk-alert=" " class="">
            <h3 style="color: #faa05a; ">Chú ý</h3>
            <hr style="border-color: #faa05a; " />
            <p>CHỈ NẠP ĐƯỢC CHO THUÊ BAO TRẢ TRƯỚC</p>
            <p>Khi ấn xác nhận sẽ không thể hủy giao dịch được.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
