<div class="main home-config">
    <div class="container animate">
        <div class="card">
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between text-center">
                <button type="button" class="btn btn-primary btn-config mb-2">
                    <span>Notifications</span>
                </button>
                <button type="button" class="btn btn-primary btn-config mb-2">
                    <span>Notifications</span>
                </button>
                <button type="button" class="btn btn-primary btn-config mb-2">
                    <span>Notifications</span>
                </button>
                <button type="button" class="btn btn-primary btn-config mb-2">
                    <span>Notifications</span>
                </button>
            </div>
        </div>
    </div>
</div>